.container{
    display: grid;
    height: 500px;
    width: 1000px;
    border: 2px solid black;
    background-color: lightgray;    
    grid-template-columns: 25% 25% 25% auto;
    /* grid-template-areas: 
        "header header header header"
        "main main sidebar sidebar"
        "footer footer footer footer"; */
    column-gap: 10px;
    row-gap: 10px;
    /* justify-items: center;
    align-items: center; */
    place-items: center; /* shorthand for justify-items and align-items */
    place-content: center; /* shorthand for justify-content and align-content */
}
.item{
    height: 100px;
    width: 100px;
    border: 2px solid red;
    background-color: lightblue;
    text-align: center;
    align-content:center;
    color:cadetblue;
    font-size: 20px;
    font-weight: bold;
    
}

/* .item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
} */
 @media (max-width: 600px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "header"
            "main"
            "sidebar"
            "footer";
    }
    body{
        background-color: blueviolet;
    }
}